#### Deep learning
* Ann
* Cnn
* Rnn
* lstm 
* Gru 
* Gen Ai

In [11]:
 
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
df =pd.read_csv("cleaned_data.csv")

In [13]:
df.head()

     price  kms_driven  owner  age  power  brand
0  35000.0     17654.0      1    3  110.0      8
1  65000.0     16329.0      1    4  180.0      8
2  80000.0     10000.0      1    3  150.0      5
3  53499.0     25000.0      1    6  150.0      5
4  85000.0      8200.0      1    3  160.0      6

In [14]:
df.dtypes

price         float64
kms_driven    float64
owner           int64
age             int64
power         float64
brand           int64
dtype: object

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.isnull().sum()

price         0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [17]:
df.duplicated().sum()

0

In [18]:
x =df.drop('price',axis=1)
y =df['price']

In [19]:
x

      kms_driven  owner  age  power  brand
0        17654.0      1    3  110.0      8
1        16329.0      1    4  180.0      8
2        10000.0      1    3  150.0      5
3        25000.0      1    6  150.0      5
4         8200.0      1    3  160.0      6
...          ...    ...  ...    ...    ...
4226     10000.0      1    6  180.0      3
4230     41939.0      1    8  200.0      3
4231     29134.0      1    7  220.0      3
4237     60000.0      1    9  220.0      3
4238      7127.0      1    5  220.0      3

[3285 rows x 5 columns]

In [20]:
y

0       35000.0
1       65000.0
2       80000.0
3       53499.0
4       85000.0
         ...
4226    55000.0
4230    48000.0
4231    50000.0
4237    35000.0
4238    80000.0
Name: price, Length: 3285, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [22]:
### ! pip install tensorflow

In [23]:
import tensorflow as tf

In [27]:
from tensorflow.keras.layers import Dense ,Dropout
from tensorflow.keras.models import Sequential

In [25]:
input_spape= (5,)

In [26]:
model = Sequential()

In [29]:
### input layer
model.add(Dense(units=64,activation='relu',input_shape=input_spape))
# dropout layer
model.add(Dropout(0.2))
# hidden layer
model.add(Dense(units = 32, activation='relu'))
model.add(Dense(units = 16, activation='relu'))
model.add(Dense(units = 8, activation='relu'))

#output layer
model.add(Dense(units=1, activation='linear'))


model.compile(loss='mse',optimizer='adam',metrics=['mse','mae'])
# model.fit(x_train,y_train,epochs=100,batch_size=32,validation_data=(x_test,y_test))

c:\Users\kumaw\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [31]:
history=model.fit(x_train,y_train,epochs=10,batch_size=32)


# validation_data=(x_test,y_test)

Epoch 1/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 567932224.0000 - mae: 17625.5645 - mse: 567968384.0000
Epoch 2/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 496226624.0000 - mae: 16751.0625 - mse: 496164544.0000
Epoch 3/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 516304800.0000 - mae: 16647.6016 - mse: 516414208.0000
Epoch 4/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 572409152.0000 - mae: 17385.4297 - mse: 572527616.0000
Epoch 5/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 515456416.0000 - mae: 16748.3008 - mse: 515544704.0000
Epoch 6/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 531578176.0000 - mae: 17129.5332 - mse: 531440928.0000
Epoch 7/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 555951168.0000 - mae: 17198.2188 - mse: 556048576.0000
Epoch 8/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 480087040.0000 - mae: 16136.1533 - mse: 480006208.0000
Epoch 9/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 491807680.0000 - mae: 16036.5098 - mse: 491767104.0000
Epoch 10/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 511422752.0000 - mae: 16394.6250 - mse: 511303648.0000

In [32]:
pd.DataFrame(history.history)

          loss           mae          mse
0  545662976.0  17278.208984  547182976.0
1  535295744.0  17145.835938  532689472.0
2  525522784.0  16851.810547  530117056.0
3  527902656.0  17063.115234  532879104.0
4  499506720.0  16449.173828  503215584.0
5  544895872.0  17272.789062  539131264.0
6  515879360.0  16689.654297  519970048.0
7  502021024.0  16298.196289  498625728.0
8  508609792.0  16530.546875  506905344.0
9  503629696.0  16309.441406  498626752.0

In [35]:
pred =model.predict(x_test)

21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [34]:
y_test

1943     44000.0
1269     14000.0
2990     31000.0
1234     70000.0
2360     26000.0
          ...
1522     32000.0
1708    149292.0
3256     46000.0
2186     65300.0
3695     35000.0
Name: price, Length: 657, dtype: float64

In [36]:
output_data =pd.DataFrame({'actual':y_test.ravel(),'predict':pred.ravel()})

C:\Users\kumaw\AppData\Local\Temp\ipykernel_22908\646420279.py:1: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  output_data =pd.DataFrame({'actual':y_test.ravel(),'predict':pred.ravel()})

In [37]:
output_data

       actual        predict
0     44000.0   44344.691406
1     14000.0   33299.417969
2     31000.0   23996.144531
3     70000.0   52786.800781
4     26000.0   26790.582031
..        ...            ...
652   32000.0   29870.406250
653  149292.0  123504.992188
654   46000.0   39027.160156
655   65300.0   34928.894531
656   35000.0   28793.333984

[657 rows x 2 columns]

In [38]:
output_data.describe()

              actual        predict
count     657.000000     657.000000
mean    52907.627093   53391.593750
std     30163.457323   22269.625000
min      9500.000000   22530.544922
25%     30000.000000   35462.503906
50%     46900.000000   48368.714844
75%     70000.000000   67360.976562
max    160000.000000  140784.859375

In [39]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.